
{% extends 'base.html'%}
{%load static%}

{%block content%}

{% comment %} <h2>Welcome {{user.username}}!</h2>
<p>This is a {{user.get_role}}</p>  <!--get_role is a custom function of User class which is accessed as a field of User class/model--> {% endcomment %}


	<!-- Main Section Start -->
    <div class="main-section">
       {% include 'shipper/cover.html'%}
        <div class="page-section account-header buyer-logged-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <!--load sidebar here-->
                        {% include 'includes/s_sidebar.html' %}
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="user-dashboard loader-holder">
                            <div class="user-holder">
                                <h5 class="text-uppercase">OVERVIEW</h5>
                                <div class="row">
                                    <div  class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="card-header">
                                                Total Orders
                                            </div>
                                            <div class="card-body text-center">
                                                <a href="#"><h5 class="card-title">{{orders_count}}</h5></a> 
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div  class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="card-header">
                                                Total Revenue
                                            </div>
                                            <div class="card-body text-center">
                                                <a href="#"><h5 class="card-title">$1234.56</h5></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div  class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="card-header">
                                                This Month
                                            </div>
                                            <div class="card-body text-center">
                                                <a href="#"><h5 class="card-title">$165.00</h5></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <br>
                                <h5 class="text-uppercase">Recent Orders</h5>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="user-orders-list">
                                            <div class="responsive-table">
                                                <table class="table table-hover">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">Shipping #</th>
                                                        <th scope="col">Order #</th>
                                                        <th scope="col">Customer Name</th>      
                                                        <th scope="col">Vendor Name</th>                                  
                                                        <th scope="col">Total</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Action</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                        {%for shiporder in shiporders%}
                                                      <tr>
                                                        <td>{{shiporder.shipping_number}}</td>
                                                        <td>{{shiporder.order.order_number}}</td>
                                                        <td>{{shiporder.order.name}}</td>  
                                                        <td>{{shiporder.vendor}}</td>                                                      
                                                        <td>${{shiporder.order.get_total_by_vendor.grand_total}}</td>
                                                        <td>{{shiporder.shiporder_status}}</td>
                                                        <td>{{shiporder.created_at}}</td>
                                                        <td><a href="{%url 'shipper_order_detail' shiporder.order.order_number%}" style="color:unset;"><i class="fa fa-info-circle"></i></a></td>
                                                      </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                  </table>

                                            </div>												
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Section End -->

{% include 'includes/alerts.html'%}


{%endblock%}
