
{% extends 'base.html'%}
{%load static%}

{%block content%}

{% comment %} <h2>Welcome {{user.username}}!</h2>
<p>This is a {{user.get_role}}</p>  <!--get_role is a custom function of User class which is accessed as a field of User class/model--> {% endcomment %}


	<!-- Main Section Start -->
    <div class="main-section">
       {% include 'shipper/cover.html'%}
        <div class="page-section account-header buyer-logged-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <!--load sidebar here-->
                        {% include 'includes/s_sidebar.html' %}
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="user-dashboard loader-holder">
                            <div class="user-holder"> 
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <h5 class="text-uppercase">Shipment Orders</h5>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <a href='{% url 'optimize_container'%}' class='btn btn-info float-right ' style="padding: 10px; margin-bottom: 30px;" > Optimize Container  <i class="icon-arrows" style="font-weight: strong;"></i></a>
                                    </div>
                                </div>       
                                
                                
                                <div class="row mt-10">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="user-orders-list">
                                            <div class="responsive-table">
                                                <table class="table table-hover">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">Shipping #</th>
                                                        <th scope="col">Order #</th>
                                                        <th scope="col">Customer</th>      
                                                        <th scope="col">Vendor</th>                                  
                                                        {% comment %} <th scope="col">Total</th> {% endcomment %}
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Action</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                        {%for shiporder in shiporders%}
                                                      <tr>
                                                        <td style="line-height: 1.2;">{{shiporder.shipping_number}}</td>
                                                        <td style="line-height: 1.2;">{{shiporder.order.order_number}}</td>
                                                        <td style="line-height: 1.2;">{{shiporder.order.name}}</td>  
                                                        <td style="line-height: 1.2;">{{shiporder.vendor}}</td>                                                      
                                                        {% comment %} <td>${{shiporder.order.get_total_by_vendor.grand_total}}</td> {% endcomment %}
                                                        <td style="line-height: 1.2;">{{shiporder.shiporder_status}}</td>
                                                        <td style="line-height: 1.2;">{{shiporder.created_at}}</td>
                                                        <td style="line-height: 1.2;"><a href="{%url 'shipper_order_detail' shiporder.order.order_number%}" style="color:unset;"><i class="fa fa-info-circle"></i></a></td>
                                                      </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                  </table>

                                            </div>												
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Section End -->

{% include 'includes/alerts.html'%}


{%endblock%}
