{% extends 'base.html'%}
{%load static%}
{%block content%}

{% comment %} <h2>Welcome {{user.username}}!</h2>
<p>This is a {{user.get_role}}</p>  <!--get_role is a custom function of User class which is accessed as a field of User class/model--> {% endcomment %}

	<!-- Main Section Start -->
    <div class="main-section">
        {% include 'shipper/cover.html' %}
        <div class="page-section account-header buyer-logged-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <!--load sidebar here-->
                        {% include 'includes/s_sidebar.html' %}
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="user-dashboard loader-holder">
                            <div class="user-holder">
                                
                                <div class="container">
                                    <div class="justify-content-center row">
                                        <div class="col-md-12">
                                            <div class="bg-white p-1">
                                                <img src="{%static 'logo/logoscm1.png'%}" alt="scm logo" width="300">
                                                <div class="mt-3">
                                                <h6>Hello {{user.username}}, </h6><span>Review the order details below.</span>
                                                </div>
                                                <hr>
                                
                                
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <span class=" d-block">Order Date: </span><span class="font-weight-bold">{{ship_order.created_at}}</span>
                                                    </div>
                                                    <div>
                                                        <span class=" d-block">Shipping Number: </span><span class="font-weight-bold">{{ship_order.shipping_number}}</span>
                                                    </div>
                                                    <div>
                                                        <span class=" d-block">Order Number: </span><span class="font-weight-bold">{{order.order_number}}</span>
                                                    </div>
                                                    <div>
                                                        <span class=" d-block">Package Volume: </span><span class="font-weight-bold">{{ship_order.package_volume}}</span> cubic meter
                                                    </div>
                                                </div> 
                                                <hr>
                                                <table class="table table-borderless">
                                                    <tbody>
                                                        {% for item in ordered_product %}
                                                        <tr>
                                                            <td><img src="{{item.product.image.url}}" width="40" alt ="product image"></td>
                                                            <td style="line-height: 1.5;">
                                                                <p class="mb-0"><b>{{item.product}}</b></p>
                                                                <a class="text-muted" href="{%url 'vendor_detail' item.product.vendor.vendor_slug %}">{{item.product.vendor.vendor_name}}</a>
                                                            </td>
                                                            <td style="line-height: 1.5;">{{item.quantity}} QTY</td>    
                                                            <td style="line-height: 1.5;">${{item.product.price}}</td>     
                                
                                                        </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                                <hr>
                                
                                                <div class="row mt-5">
                                                                                       
                                                    <div class="col-md-6 text-left">
                                                                <p class="mb-0"><strong>Delivery Details:</strong></p>
                                                                <br>
                                                                <p class="mb-0"><b>Customer name: </b>{{order.name}}</p>
                                                                <p class="mb-0"><b>Address: </b>{{order.address}}</p>
                                                                <p class="mb-0"><b>City: </b>{{order.city}}</p>
                                                                <p class="mb-0"><b>Pincode: </b>{{order.pin_code}}</p>
                                                                <p class="mb-0"><b>State: </b>{{order.state}}</p>
                                                                <p class="mb-0"><b>Country: </b>{{order.country}}</p>
                                                                <p class="mb-0"><b>Phone: </b>{{order.phone}}</p>
                                                                <p class="mb-0"><b>Email: </b>{{order.email}}</p>
                                                                                                       
                                                    </div>
                                                        
                                                    <div class="d-flex justify-content-center col-md-6">
                                                        

                                                        <ul>
                                                            <li style="list-style-type:none;">
                                                                Subtotal
                                                                <span class="price float-right">
                                                                    <span class="currency">$</span>
                                                                    <span id="subtotal">{{subtotal}}</span><!--subtotal is coming from context-->
                                                                </span>
                                                            </li>
                                                            <li style="list-style-type:none;">
                                                                Tax
                                                                <span class="price float-right">
                                                                    <span class="currency">$</span>
                                                                    <span id="tax">{{tax}}</span>
                                                                </span>
                                                            </li>
                                                            <li style="list-style-type:none; font-weight:600;">
                                                                TOTAL
                                                                <span class="price float-right">
                                                                    <span class="currency">$</span>
                                                                    <span id="total">{{grand_total}}</span>
                                                                </span>
                                                            </li>
                                                  
                                                        </ul>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <span class="d-block font-weight-bold">Thanks for ordering with us.</span>
                                                        <span>SCM Team</span>
                                                    </div>
                                                    <div class="d-flex justify-content-end align-items-end">
                                                        <span class="d-block font-weight-bold">Need help?</span>
                                                        &nbsp;<span>Call - +01 5637242</span>
                                                    </div>
                                                </div>
                                               
                                                
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Section End -->

{% include 'includes/alerts.html'%}



{%endblock%}
